.button.accent
{
    --btn-bg-color: var(--accent-color);
    --btn-text-color: var(--white);
}

.button.white
{
    --btn-bg-color: var(--white);
    --btn-text-color: var(--black);
}

.button.black
{
    --btn-bg-color: var(--black);
    --btn-text-color: var(--white);
    border: 3px solid var(--white);
}

.button.discord
{
    --btn-bg-color: #5865F2;
    --btn-text-color: var(--white);
}


.button
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    padding: 10px;
    box-sizing: border-box;

    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);

    text-decoration: none;
    cursor: pointer;

    border: 3px solid transparent;
    border-radius: 10px;

    transition: color 0.2s ease-in-out,
                background-color 0.2s ease-in-out,
                transform 0.05s ease-in-out;
}

.button svg
{
    width: 20px;
    height: 100%;
}

.button:hover
{
    color: var(--btn-bg-color);
    background-color: var(--btn-text-color);
}
.button:active { transform: scale(0.95); }