.scroll-down-wrapper
{
    position: fixed;
    bottom: 0;
    right: 0;

    transition: all 0.3s ease-in-out;

    &.invisible { filter: opacity(0) !important }
}

@media (min-width: 768px)
{
    .scroll-down-wrapper
    {
        display: block;

        bottom: 20px;
        right: 50%;
        transform: translateX(50%);
    }
}