.scroll-down-wrapper
{
    display: none;
    transition: all 0.5s ease-in-out;
}

@media (min-width: 768px)
{
    header
    {
        height: 100vh !important;
        padding-top: 0;
    }

    .scroll-down-wrapper {display: block}
    .scroll-down-wrapper.invisible { filter: opacity(0) !important }
}